syntax: glob
Library
Temp
*.pidb
*.sln
*.userprefs
*.csprog
*.orig
*.csproj
Assets/UnityVS/
Assets\Plugins\Metro.meta
Assets\Plugins\Metro\KinectUnityAddin.dll.meta
Assets\Plugins\x86.meta
Assets\Plugins\x86\KinectUnityAddin.dll.meta
Assets\Plugins\x86_64.meta
Assets\Plugins\x86_64\KinectUnityAddin.dll.meta
Assets\Standard Assets\CameraIntrinsics.cs
Assets\Standard Assets\CameraIntrinsics.cs.meta
Assets\Standard Assets\CollectionMap.cs
Assets\Standard Assets\CollectionMap.cs.meta
Assets\Standard Assets\Editor.meta
Assets\Standard Assets\Editor\KinectCopyPluginDataHelper.cs
Assets\Standard Assets\Editor\KinectCopyPluginDataHelper.cs.meta
Assets\Standard Assets\EventPump.cs
Assets\Standard Assets\EventPump.cs.meta
Assets\Standard Assets\ExceptionHelper.cs
Assets\Standard Assets\ExceptionHelper.cs.meta
Assets\Standard Assets\INativeWrapper.cs
Assets\Standard Assets\INativeWrapper.cs.meta
Assets\Standard Assets\KinectBuffer.cs
Assets\Standard Assets\KinectBuffer.cs.meta
Assets\Standard Assets\KinectSpecialCases.cs
Assets\Standard Assets\KinectSpecialCases.cs.meta
Assets\Standard Assets\NativeObjectCache.cs
Assets\Standard Assets\NativeObjectCache.cs.meta
Assets\Standard Assets\NativeWrapper.cs
Assets\Standard Assets\NativeWrapper.cs.meta
Assets\Standard Assets\SmartGCHandle.cs
Assets\Standard Assets\SmartGCHandle.cs.meta
Assets\Standard Assets\ThreadSafeDictionary.cs
Assets\Standard Assets\ThreadSafeDictionary.cs.meta
Assets\Standard Assets\Windows.meta
Assets\Standard Assets\Windows\Data.meta
Assets\Standard Assets\Windows\Data\PropertyChangedEventArgs.cs
Assets\Standard Assets\Windows\Data\PropertyChangedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect.meta
Assets\Standard Assets\Windows\Kinect\Activity.cs
Assets\Standard Assets\Windows\Kinect\Activity.cs.meta
Assets\Standard Assets\Windows\Kinect\Appearance.cs
Assets\Standard Assets\Windows\Kinect\Appearance.cs.meta
Assets\Standard Assets\Windows\Kinect\AudioBeam.cs
Assets\Standard Assets\Windows\Kinect\AudioBeam.cs.meta
Assets\Standard Assets\Windows\Kinect\AudioBeamFrame.cs
Assets\Standard Assets\Windows\Kinect\AudioBeamFrame.cs.meta
Assets\Standard Assets\Windows\Kinect\AudioBeamFrameArrivedEventArgs.cs
Assets\Standard Assets\Windows\Kinect\AudioBeamFrameArrivedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect\AudioBeamFrameList.cs
Assets\Standard Assets\Windows\Kinect\AudioBeamFrameList.cs.meta
Assets\Standard Assets\Windows\Kinect\AudioBeamFrameReader.cs
Assets\Standard Assets\Windows\Kinect\AudioBeamFrameReader.cs.meta
Assets\Standard Assets\Windows\Kinect\AudioBeamFrameReference.cs
Assets\Standard Assets\Windows\Kinect\AudioBeamFrameReference.cs.meta
Assets\Standard Assets\Windows\Kinect\AudioBeamMode.cs
Assets\Standard Assets\Windows\Kinect\AudioBeamMode.cs.meta
Assets\Standard Assets\Windows\Kinect\AudioBeamSubFrame.cs
Assets\Standard Assets\Windows\Kinect\AudioBeamSubFrame.cs.meta
Assets\Standard Assets\Windows\Kinect\AudioBodyCorrelation.cs
Assets\Standard Assets\Windows\Kinect\AudioBodyCorrelation.cs.meta
Assets\Standard Assets\Windows\Kinect\AudioSource.cs
Assets\Standard Assets\Windows\Kinect\AudioSource.cs.meta
Assets\Standard Assets\Windows\Kinect\Body.cs
Assets\Standard Assets\Windows\Kinect\Body.cs.meta
Assets\Standard Assets\Windows\Kinect\BodyFrame.cs
Assets\Standard Assets\Windows\Kinect\BodyFrame.cs.meta
Assets\Standard Assets\Windows\Kinect\BodyFrameArrivedEventArgs.cs
Assets\Standard Assets\Windows\Kinect\BodyFrameArrivedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect\BodyFrameReader.cs
Assets\Standard Assets\Windows\Kinect\BodyFrameReader.cs.meta
Assets\Standard Assets\Windows\Kinect\BodyFrameReference.cs
Assets\Standard Assets\Windows\Kinect\BodyFrameReference.cs.meta
Assets\Standard Assets\Windows\Kinect\BodyFrameSource.cs
Assets\Standard Assets\Windows\Kinect\BodyFrameSource.cs.meta
Assets\Standard Assets\Windows\Kinect\BodyIndexFrame.cs
Assets\Standard Assets\Windows\Kinect\BodyIndexFrame.cs.meta
Assets\Standard Assets\Windows\Kinect\BodyIndexFrameArrivedEventArgs.cs
Assets\Standard Assets\Windows\Kinect\BodyIndexFrameArrivedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect\BodyIndexFrameReader.cs
Assets\Standard Assets\Windows\Kinect\BodyIndexFrameReader.cs.meta
Assets\Standard Assets\Windows\Kinect\BodyIndexFrameReference.cs
Assets\Standard Assets\Windows\Kinect\BodyIndexFrameReference.cs.meta
Assets\Standard Assets\Windows\Kinect\BodyIndexFrameSource.cs
Assets\Standard Assets\Windows\Kinect\BodyIndexFrameSource.cs.meta
Assets\Standard Assets\Windows\Kinect\CameraSpacePoint.cs
Assets\Standard Assets\Windows\Kinect\CameraSpacePoint.cs.meta
Assets\Standard Assets\Windows\Kinect\ColorCameraSettings.cs
Assets\Standard Assets\Windows\Kinect\ColorCameraSettings.cs.meta
Assets\Standard Assets\Windows\Kinect\ColorFrame.cs
Assets\Standard Assets\Windows\Kinect\ColorFrame.cs.meta
Assets\Standard Assets\Windows\Kinect\ColorFrameArrivedEventArgs.cs
Assets\Standard Assets\Windows\Kinect\ColorFrameArrivedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect\ColorFrameReader.cs
Assets\Standard Assets\Windows\Kinect\ColorFrameReader.cs.meta
Assets\Standard Assets\Windows\Kinect\ColorFrameReference.cs
Assets\Standard Assets\Windows\Kinect\ColorFrameReference.cs.meta
Assets\Standard Assets\Windows\Kinect\ColorFrameSource.cs
Assets\Standard Assets\Windows\Kinect\ColorFrameSource.cs.meta
Assets\Standard Assets\Windows\Kinect\ColorImageFormat.cs
Assets\Standard Assets\Windows\Kinect\ColorImageFormat.cs.meta
Assets\Standard Assets\Windows\Kinect\ColorSpacePoint.cs
Assets\Standard Assets\Windows\Kinect\ColorSpacePoint.cs.meta
Assets\Standard Assets\Windows\Kinect\CoordinateMapper.cs
Assets\Standard Assets\Windows\Kinect\CoordinateMapper.cs.meta
Assets\Standard Assets\Windows\Kinect\CoordinateMappingChangedEventArgs.cs
Assets\Standard Assets\Windows\Kinect\CoordinateMappingChangedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect\DepthFrame.cs
Assets\Standard Assets\Windows\Kinect\DepthFrame.cs.meta
Assets\Standard Assets\Windows\Kinect\DepthFrameArrivedEventArgs.cs
Assets\Standard Assets\Windows\Kinect\DepthFrameArrivedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect\DepthFrameReader.cs
Assets\Standard Assets\Windows\Kinect\DepthFrameReader.cs.meta
Assets\Standard Assets\Windows\Kinect\DepthFrameReference.cs
Assets\Standard Assets\Windows\Kinect\DepthFrameReference.cs.meta
Assets\Standard Assets\Windows\Kinect\DepthFrameSource.cs
Assets\Standard Assets\Windows\Kinect\DepthFrameSource.cs.meta
Assets\Standard Assets\Windows\Kinect\DepthSpacePoint.cs
Assets\Standard Assets\Windows\Kinect\DepthSpacePoint.cs.meta
Assets\Standard Assets\Windows\Kinect\DetectionResult.cs
Assets\Standard Assets\Windows\Kinect\DetectionResult.cs.meta
Assets\Standard Assets\Windows\Kinect\Expression.cs
Assets\Standard Assets\Windows\Kinect\Expression.cs.meta
Assets\Standard Assets\Windows\Kinect\FrameCapturedEventArgs.cs
Assets\Standard Assets\Windows\Kinect\FrameCapturedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect\FrameCapturedStatus.cs
Assets\Standard Assets\Windows\Kinect\FrameCapturedStatus.cs.meta
Assets\Standard Assets\Windows\Kinect\FrameDescription.cs
Assets\Standard Assets\Windows\Kinect\FrameDescription.cs.meta
Assets\Standard Assets\Windows\Kinect\FrameEdges.cs
Assets\Standard Assets\Windows\Kinect\FrameEdges.cs.meta
Assets\Standard Assets\Windows\Kinect\FrameSourceTypes.cs
Assets\Standard Assets\Windows\Kinect\FrameSourceTypes.cs.meta
Assets\Standard Assets\Windows\Kinect\HandState.cs
Assets\Standard Assets\Windows\Kinect\HandState.cs.meta
Assets\Standard Assets\Windows\Kinect\InfraredFrame.cs
Assets\Standard Assets\Windows\Kinect\InfraredFrame.cs.meta
Assets\Standard Assets\Windows\Kinect\InfraredFrameArrivedEventArgs.cs
Assets\Standard Assets\Windows\Kinect\InfraredFrameArrivedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect\InfraredFrameReader.cs
Assets\Standard Assets\Windows\Kinect\InfraredFrameReader.cs.meta
Assets\Standard Assets\Windows\Kinect\InfraredFrameReference.cs
Assets\Standard Assets\Windows\Kinect\InfraredFrameReference.cs.meta
Assets\Standard Assets\Windows\Kinect\InfraredFrameSource.cs
Assets\Standard Assets\Windows\Kinect\InfraredFrameSource.cs.meta
Assets\Standard Assets\Windows\Kinect\IsAvailableChangedEventArgs.cs
Assets\Standard Assets\Windows\Kinect\IsAvailableChangedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect\Joint.cs
Assets\Standard Assets\Windows\Kinect\Joint.cs.meta
Assets\Standard Assets\Windows\Kinect\JointOrientation.cs
Assets\Standard Assets\Windows\Kinect\JointOrientation.cs.meta
Assets\Standard Assets\Windows\Kinect\JointType.cs
Assets\Standard Assets\Windows\Kinect\JointType.cs.meta
Assets\Standard Assets\Windows\Kinect\KinectAudioCalibrationState.cs
Assets\Standard Assets\Windows\Kinect\KinectAudioCalibrationState.cs.meta
Assets\Standard Assets\Windows\Kinect\KinectCapabilities.cs
Assets\Standard Assets\Windows\Kinect\KinectCapabilities.cs.meta
Assets\Standard Assets\Windows\Kinect\KinectSensor.cs
Assets\Standard Assets\Windows\Kinect\KinectSensor.cs.meta
Assets\Standard Assets\Windows\Kinect\KinectUnityAddinUtils.cs
Assets\Standard Assets\Windows\Kinect\KinectUnityAddinUtils.cs.meta
Assets\Standard Assets\Windows\Kinect\LongExposureInfraredFrame.cs
Assets\Standard Assets\Windows\Kinect\LongExposureInfraredFrame.cs.meta
Assets\Standard Assets\Windows\Kinect\LongExposureInfraredFrameArrivedEventArgs.cs
Assets\Standard Assets\Windows\Kinect\LongExposureInfraredFrameArrivedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect\LongExposureInfraredFrameReader.cs
Assets\Standard Assets\Windows\Kinect\LongExposureInfraredFrameReader.cs.meta
Assets\Standard Assets\Windows\Kinect\LongExposureInfraredFrameReference.cs
Assets\Standard Assets\Windows\Kinect\LongExposureInfraredFrameReference.cs.meta
Assets\Standard Assets\Windows\Kinect\LongExposureInfraredFrameSource.cs
Assets\Standard Assets\Windows\Kinect\LongExposureInfraredFrameSource.cs.meta
Assets\Standard Assets\Windows\Kinect\MultiSourceFrame.cs
Assets\Standard Assets\Windows\Kinect\MultiSourceFrame.cs.meta
Assets\Standard Assets\Windows\Kinect\MultiSourceFrameArrivedEventArgs.cs
Assets\Standard Assets\Windows\Kinect\MultiSourceFrameArrivedEventArgs.cs.meta
Assets\Standard Assets\Windows\Kinect\MultiSourceFrameReader.cs
Assets\Standard Assets\Windows\Kinect\MultiSourceFrameReader.cs.meta
Assets\Standard Assets\Windows\Kinect\MultiSourceFrameReference.cs
Assets\Standard Assets\Windows\Kinect\MultiSourceFrameReference.cs.meta
Assets\Standard Assets\Windows\Kinect\TrackingConfidence.cs
Assets\Standard Assets\Windows\Kinect\TrackingConfidence.cs.meta
Assets\Standard Assets\Windows\Kinect\TrackingState.cs
Assets\Standard Assets\Windows\Kinect\TrackingState.cs.meta
Assets\Standard Assets\Windows\Kinect\Vector4.cs
Assets\Standard Assets\Windows\Kinect\Vector4.cs.meta